<div class="header">
  <mat-form-field class="search" appearance="fill">
    <mat-label>Search</mat-label>
    <input type="text" (keyup)="onSearchQueryChange($event)" matInput placeholder="Ex. Angular" value="Angular">
  </mat-form-field>

  <div class="filter-group">
    <mat-button-toggle-group name="filters" aria-label="filters" multiple (change)="onFilterChange($event)">
      <mat-button-toggle value="TypeScript">TypeScript</mat-button-toggle>
      <mat-button-toggle value="JavaScript">JavaScript</mat-button-toggle>
      <mat-button-toggle value="C#">C#</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<mat-progress-bar *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>


<div class="repository-list">
  <app-repository-item
    *ngFor="let repository of repositories$ | async"
    [repository]="repository"
    (click)="onSelectRepository(repository)"
  ></app-repository-item>
</div>

<mat-paginator class="footer"
               [length]="repositoriesCount$ | async"
               (page)="onPageChange($event)"
               [pageSize]="itemsPerPage$ | async"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
</mat-paginator>
